<Layouts.app_without_member flash={@flash}>
  <main class="w-full bg-base-200 py-12 px-4">
    <div class="mx-auto max-w-4xl bg-base-100 rounded-lg shadow-sm p-8 sm:p-12">
      <article class="prose sm:prose-xl"></article>
    </div>
  </main>
</Layouts.app_without_member>
