/* 
    如果使用编辑器发现本文件存在大量报错，请安装您所用编辑器的
    TailwindCSS 插件并完成配置。

    另外可参阅 Tailwind 配置指南以了解高级用法
    https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/hana_shirabe_web";

@import "../css/font.css";

/* 用于启用 "hero-#{ICON}" 类的一个 Tailwind 插件。
   heroicons 的安装本身由你的 mix.exs 管理。 */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind 插件。您可以通过以下方式获取最新版本来更新此文件：
    curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js 
   请务必查看 daisyUI 更新日志：https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI 主题插件。您可以通过以下方式获取最新版本来更新此文件：
    curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js 
    您可以访问 https://daisyui.com/theme-generator/ 构建自己的主题。

  其他可以使用的网站：

  * https://www.jyshare.com/front-end/6214/
  * https://oklch.com/

  目前有两个颜色主题：

  * 奶油玉米（来源于奶油玉米浓汤，选择此方案是因为其和某位故人
    （〇〇）很爱吃的某食物（〇〇〇〇）的配色相近）
  * 夜光云（将个人此前推进但目前放弃的项目 < https://github.com/GES233/Noctilucent >
    的配色方案照搬，交给 Gemini 进行简单处理得到）

  TODO 再加上几类：

  * 再来个什么旮旯给木的配色（要最典型最经典一眼XX的感觉）
  * [Ulterior Motives](https://lostmediawiki.com/File:Pink_Boombox.webp) 主题配色
**/
@plugin "../vendor/daisyui-theme" {
  name: "noctilucent";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(23.04% 0.069 271.65);
  --color-base-200: oklch(21.0% 0.051 272.4);
  --color-base-300: oklch(19.8% 0.047 290.5);
  --color-base-content: oklch(94.81% 0.028 102.48);
  --color-primary: oklch(82.97% 0.0783 311.29);
  --color-primary-content: oklch(25.1% 0.032 310.8);
  --color-secondary: oklch(85.7% 0.047 64.5);
  --color-secondary-content: oklch(25.8% 0.111 67.7);
  --color-accent: oklch(87.18% 0.0327 242.4);
  --color-accent-content: oklch(0.4724 0.048 268.52);
  --color-neutral: oklch(30.06% 0.0849 260.32);
  --color-neutral-content: oklch(92% 0.004 286.32);

  --color-info: oklch(88% 0.059 254.128);
  --color-info-content: oklch(35% 0.144 278.697);
  --color-success: oklch(89.31% 0.0729 107.79);
  --color-success-content: oklch(52.65% 0.0529 91.32);
  --color-warning: oklch(89.2% 0.100 91.9);
  --color-warning-content: oklch(41% 0.151 53.4);
  --color-error: oklch(88.8% 0.151 53.4);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

@plugin "../vendor/daisyui-theme" {
  name: "core-cream-soup";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.026 102.212);
  --color-base-200: oklch(97% 0.071 103.193);
  --color-base-300: oklch(94% 0.129 101.54);
  --color-base-content: oklch(42% 0.095 57.708);
  --color-primary: oklch(0.4348 0.0997 118.56);
  --color-primary-content: oklch(0.8312 0.0589 130.21);
  --color-secondary: oklch(0.9659 0.1068 112.54);
  --color-secondary-content: oklch(52.3% 0.095 131.4);
  --color-accent: oklch(0.7422 0.1464 77.65);
  --color-accent-content: oklch(47.9% 0.065 81.8);
  --color-neutral: oklch(0.8833 0.1439 84);
  --color-neutral-content: oklch(0.4244 0.1143 56.47);
  --color-info: oklch(71% 0.203 305.504);
  --color-info-content: oklch(40.1% 0.088 301.3);
  --color-success: oklch(78.4% 0.076 124.3);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(78.6% 0.255 91.9);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(86.1% 0.21 23.1);
  --color-error-content: oklch(38.6% 0.213 15);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

/**
 * 将字体与 Tailwind 建立联系。
*
@theme {
  --font-site-content-sans: "ChillDIN", sans-serif;
  --font-user-content-serif: "Alegreya", "KingHwa Old Song", serif;
} */

/* Phoenix 使用的是 TailwindCSS-Standalone，
  那几十兆中就正好包括了一些常见的插件，引入即可。
 */
@plugin "@tailwindcss/typography";

/* 
 * 针对 @tailwindcss/typography 的配置：
 * 参见
  https://github.com/tailwindlabs/tailwindcss-typography/issues/372#issuecomment-2616848354
*/
@utility prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--color-muted-foreground);

  code {
    &::before,
    &::after {
      display: none;
    }
    text-wrap: nowrap;
  }

  blockquote {
    font-weight: 400;
  }

  p {
    @apply my-2; /* my-3 约等于 0.75rem，比默认值小得多 */
  }

  /* 标题的间距也需要调整，使其更紧凑 */
  h2 {
    @apply mt-8 mb-2;
  }
  h3 {
    @apply mt-6 mb-1;
  }

  /* 列表项之间也不需要那么大的空隙 */
  li {
    @apply my-1;
  }
}

/* 根据 LiveView 类添加变体 */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* 使用数据属性实现 dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* 使 LiveView 包装器 div 在布局中透明 */
[data-phx-session],
[data-phx-teleported-src] {
  display: contents;
}

/* 此文件用于主应用的 CSS */
