/**
 * 字体配置。

  要专门搞这套字体设定的由来是 LessWrong 等一系列博客。
  其字体为 Merriweather, Palatino, Garamond, Baskerville, Libre Baskerville, Georgia, serif
  （根据 Grok ，2020~2023年左右也是 Alegreya ）。

  这种人文主义字体的衬线体，免费开源的：

  无脑思源黑体。
***/

/**
 * TODO:
 * 安装且配置好 Alegreya 。
**
@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

@font-face {
  font-family: 'KingHwa Old Song';
  src: url('/fonts/KingHwaOldSongV2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ChillDIN';
  src: url('/fonts/ChillDINGothic_Std.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}*/
