/***
 * 用户生成内容的 HTML 样式设计。
 *
 * （计划借鉴 `heti` 的样式以及此前的个人博客（采用 `hexo-theme-yuzu`））
***/

/* Phoenix 使用的是 TailwindCSS-Standalone，
  那几十兆（现在是一百多兆了）中就正好包括了一些常见的插件，引入即可。
**/
@plugin "@tailwindcss/typography";

/**
 * 关于字体：

  由来是 LessWrong 等一系列论坛。
  其英文字体为 Alegreya, Merriweather, Palatino, Garamond,
  Baskerville, Libre Baskerville, Georgia 等人文主义字体的衬线体。

  中文无脑思源黑体。
***/

/**
 * 将字体与 Tailwind 建立联系。
*
@theme {
  --font-site-content-sans: "ChillDIN", sans-serif;
  --font-user-content-serif: "Alegreya", "KingHwa Old Song", serif;
} */

/* 
 * 针对 @tailwindcss/typography 的配置：
 * 参见
  https://github.com/tailwindlabs/tailwindcss-typography/issues/372#issuecomment-2616848354
*/
@utility prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--color-muted-foreground);

  code {
    &::before,
    &::after {
      display: none;
    }
    /* text-wrap: nowrap; */
  }

  blockquote {
    /* Remove extra quotes */
    p {
      &:first-of-type::before, &:last-of-type::after {
        display: none;
      }
    }
    font-weight: 400;
  }

  p {
    @apply my-2; /* my-3 约等于 0.75rem，比默认值小得多 */
  }

  /* 标题的间距也需要调整，使其更紧凑 */
  h2 {
    @apply mt-8 mb-2;
  }
  h3 {
    @apply mt-6 mb-2;
  }

  /* 列表项之间也不需要那么大的空隙 */
  li, ul {
    @apply my-1;
  }
}
