/* 用户生成内容的 HTML 样式设计。*/

/* Phoenix 使用的是 TailwindCSS-Standalone，
  那几十兆（现在是一百多兆了）中就正好包括了一些常见的插件，引入即可。
**/
@plugin "@tailwindcss/typography";

/**
 * 将字体与 Tailwind 建立联系。
*
@theme {
  --font-site-content-sans: "ChillDIN", sans-serif;
  --font-user-content-serif: "Alegreya", "KingHwa Old Song", serif;
} */

/* 
 * 针对 @tailwindcss/typography 的配置：
 * 参见
  https://github.com/tailwindlabs/tailwindcss-typography/issues/372#issuecomment-2616848354
*/
@utility prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--color-muted-foreground);

  code {
    &::before,
    &::after {
      display: none;
    }
  }

  blockquote {
    /* Remove extra quotes */
    p {
      &:first-of-type::before, &:last-of-type::after {
        display: none;
      }
    }
    font-weight: 400;
  }

  p {
    @apply my-2;
  }

  h2 {
    @apply mt-8 mb-2;
  }
  h3 {
    @apply mt-6 mb-2;
  }

  li, ul {
    @apply my-1;
  }
}

/**
  以下部分将对各个主题进行设计。

  目前考虑三类：

   * non-UGC
      主要用于系统生成内容，如帮助文档、系统公告、技术博客等。
      字体（标题）选择 ChillDIN 等无衬线体字体系列；
      TBD.
   * "archaiologia"（UGC - 人文主义）
      * 名字由来：希腊语的"考古学"（ἀρχαιολογία），意为"对古代事物的研究"。
      * 字体选择 LessWrong 等论坛的风格，主要是 Alegreya, Merriweather, Palatino, Garamond,
        Baskerville, Libre Baskerville, Georgia 字体系列，以及思源宋体的衬线体（后期会进行调整）。
      * 一般用于长篇文章，后期甚至会适配学术写作的部分功能。
      * 计划借鉴 `heti` 的样式以及此前的个人博客（采用 `hexo-theme-yuzu`）
   * "minimalism"（UGC - 简洁主义）
      * 一般用于随笔、讨论等社交交流属性大于内容属性的场景。

  此外还有导出等场景，但目前不在讨论范围内。
**/
